.tabs {
    text-align: center;
}

.button {
    font-size: 100%;
    padding: .5em 1em;
    text-decoration: none;
    margin: 10px;
    border-bottom: #b5b5b5 1px solid;
}

.button:hover {
    outline: 0;
    cursor: pointer;
    border-bottom: #0d99a5 2px solid;
}

@media only screen and (max-width: 510px) {
    .button {
        padding: .5em .3em;
        margin: 2px;
    }
}
