/*
Tabs
---------------------
*/
/* Hide tabs above mobile size*/
@media screen and (min-width: 48em) {
    .tabs {
        display: none;
    }
}
.tabs {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tabs p {
    text-align: center;
}

/* Style the tab content */
.tabcontent {
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  -webkit-animation: fadeEffect 0.2s;
}

.button-container {
    margin: auto;
    width: 50%;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*
Workaround for reactjs-popup having patchy support for styles
It is (apparently) possible, but I couldn't get it working for conditional styling
https://react-popup.elazizi.com/component-api
*/
@media only screen and (max-width: 768px) {
    .popup-content {
        width: 95% !important;
    }
}
