.graph {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--bg-colour);
}
.filter{
    margin-bottom: 0.5em;
    display: flex;
}
.filter label {
    text-align: left;
    width: 6em;
}
.bigButton {
    display: block;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px !important;
    box-shadow: none;
    background-color: #0d99a5;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.bigButton:hover {
    background-color: #0d82a6;
}
.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
}
.popup-arrow {
    color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}
.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
    background: transparent;
}
