.submitButton {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    float: right;
    width: 13%;
}

.inputButton {
    float: left;
    width: 85%;
}
