.maintenanceBlock {
    padding: .75rem 1.25rem;
    border: 1px solid #b8daff;
    border-radius: .25rem;
    color: #004085;
    background-color: #cce5ff;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
}
