.header {
    background: url(/assets/images/bg-map-terrain.svg) center/150% var(--accent-colour);
    position: relative;
    padding: 40px 0;
}

.header h1, .header h3 {
    text-align: center;
    margin: 0;
    color: var(--fg-colour);
}
